
    <%   if @option == "bookings" && @user.bookings %>
      <% @user.bookings.each do |booking| %>
        <div class="d-flex">
          <%= if booking.confirmation %>
            <div class="check-circle-hollow"></div>
          <% else %>
            <div class="check-circle-filled"></div>
          <% end %>
          <div>
            <p><%= booking.costume.name %></p>
            <p><%= booking.costume.user %></p>
          </div>
          <div>
            <p><%= booking.costume.price %></p>
          </div>
          <div>
            <p><%= booking.check_in %></p>
            <p><%= booking.check_out %></p>
          </div>
          <%= cl_image_tag booking.costume.photo.key %>
        </div>
        <% end %>
      Bookings
    <% elsif @option == "costumes" %>
      Costumes
    <% end %>



<!-- ////////?//////////////////////////////// -->


  <div class="container sidebar">
    <div class="d-flex w-100 justify-content-between">
      <h1>Costumes</h1>
    </div>

    <div class="btn-group">
      <button class="btn btn-secondary btn-sm btn-category" type="button">
        Categories
      </button>
      <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split btn-category" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">


      </div>
    </div>
  </div>
