
    <%   if @option == "bookings" && @user.bookings %>
      <% @user.bookings.each do |booking| %>
        <div class="d-flex">
          <%= if booking.confirmation %>
            <div class="check-circle-hollow"></div>
          <% else %>
            <div class="check-circle-filled"></div>
          <% end %>
          <div>
            <p><%= booking.costume.name %></p>
            <p><%= booking.costume.user %></p>
          </div>
          <div>
            <p><%= booking.costume.price %></p>
          </div>
          <div>
            <p><%= booking.check_in %></p>
            <p><%= booking.check_out %></p>
          </div>
          <%= cl_image_tag booking.costume.photo.key %>
        </div>
        <% end %>
      Bookings
    <% elsif @option == "costumes" %>
      Costumes
    <% end %>



<!-- ////////?//////////////////////////////// -->


  <div class="container sidebar">
    <div class="d-flex w-100 justify-content-between">
      <h1>Costumes</h1>
    </div>

    <div class="btn-group">
      <button class="btn btn-secondary btn-sm btn-category" type="button">
        Categories
      </button>
      <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split btn-category" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">


      </div>
    </div>
  </div>


<!--//////////////////////////////////////////////////////////////////// -->

    <div class="text-desc">
      <p>Costume name: <%= @costume.name %></p>
      <p>Size: <%= @costume.size %></p>
      <p>Category: <%= @costume.category %></p>
      <p>Rental price: <%= @costume.price %></p>
      <p>Description: <%= @costume.description %></p>

      <p class="costume-indication">Owner contact: <%= @costume.user.first_name %> <%= @costume.user.last_name %></p>
        <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
        <%= simple_form_for [@costume, @booking] do |f| %>
          <%= f.input :check_in, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.input :check_out, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.button :submit, "Book Costume", class: "btn simple-square" %>
        <% end %>
        </div>

      </br>
        <br>
        <% if @costume.user == current_user %>
        <%= link_to "Back to Account-Page", user_path(current_user, option: "costumes"), class: "btn-action"%>
        <% else %>
        <%= link_to "Request to rent", new_costume_booking_path(@costume),class: "btn-action" %>
        <% end %>
      </p>
      </div>

    </div>


    <div class="links-show">
      <%= link_to "Back to category", "#", class: "btn-back" %>
    </div>
    </div>
