<div class="container">
  <div class="d-flex w-100 justify-content-between">
    <h1>Costumes
      <% if !@category.nil? %>
        | <%= @category %>
      <% end %>
    </h1>
    <div> </div>
    <div class="btn-group">
      <button class="btn btn-secondary btn-sm btn-category" type="button">
        Categories
      </button>
      <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split btn-category" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <%= link_to "All", costumes_path %> | <%= @total_number_of_costumes %> <br>
        <% @categories.each_with_index do |category, index| %>
          <% if @number_of_costumes[index] > 0 %>
          <!-- <div class="d-flex, justify-content-start"> -->
            <%= link_to category, costumes_path(category: category) %> | <%= @number_of_costumes[index] %> <br>
          <!-- </div> -->
          <% end %>
        <% end %>
    </div>
  </div>
</div>

  <div class="horiz-grid">
    <% @costumes.each do |costume| %>
    <%= link_to costume_path(costume), class: "card-link" do %>
      <div class="card-costume">
        <%= cl_image_tag costume.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="card-costume-infos">
          <div>
            <h2><%= costume.name %></h2>
            <p><%= costume.category %></p>
          </div>
          <h2 class="card-costume-pricing"><%= costume.price %>€</h2>
          <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> -->
        </div>
        <div class="card-costume-owner py-0, my-0">
          <p><%= "By: #{costume.user.first_name} #{costume.user.last_name}"%></p>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
</div>
