<div class="d-flex">

  <div class="container cards-container w-100">

    <div class="d-flex justify-content-between w-100 my-4 "  >
      <div>
        <% if !@category.nil? %>
          <h1><%= @category %></h1>
        <% else %>
          <h1>All Costumes</h1>
        <% end %>
      </div>

      <div class="btn-group">
        <button type="button" class="btn simple-square" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Category ▾
        </button>
        <div class="dropdown-menu">
          <%= link_to "All (#{@total_number_of_costumes})", costumes_path, class: "m-2"%> <br>
          <% @categories.each_with_index do |category, index| %>
            <% if @number_of_costumes[index] > 0 %>
                <%= link_to "#{category} (#{@number_of_costumes[index]})", costumes_path(category: category), class: "m-2" %> <br>
              <% end %>
          <% end %>
        </div>
      </div>

    </div>

    <div class="horiz-grid">
      <% @costumes.each do |costume| %>
        <%= link_to costume_path(costume), class: "card-item" do %>
        <div class="card-costume">
          <%= cl_image_tag costume.photo.key, crop: :fill %>
          <div class="card-costume-infos">
            <div>
              <h2><%= costume.name %></h2>
            </div>
            <div class="card-category">
              <p><%= costume.category %></p>
            </div>
            <h2 class="card-costume-pricing"><%= costume.price %>€</h2>
            <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> -->
          </div>
          <div class="card-costume-owner flex-grow-1 py-0, my-0">
            <p><%= "By: #{costume.user.first_name} #{costume.user.last_name}"%></p>
          </div>
        </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
