<h1>Create new costume</h1>
<%= simple_form_for(@costume) do |f| %>
  <%= f.input :name %>
  <%= f.input :category %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.input :size %>
  <%= f.submit %>
<% end %>
