
<div class="container">
  <div class="costume-container d-flex justify-content-around">
	  <div class="img-costume">
	    <%#= cl_image_tag(@costume.photo.key, width: 400, height: 600, crop: :fill) %>
	    <%= cl_image_tag(@costume.photo.key, height: 500) %>
	  </div>

	  <div class="d-flex costume-summary flex-column justify-content-between">
	  	<div class="costume-title">
  			<h2><%= @costume.name %></h2>
  		</div>

	  	<div class="costume-info d-flex align-items-stretch flex-column w-100">
	  		<div class="d-flex">
	  			<!-- <div class="name"><p>Description</p></div> -->
	  			<div class="value"><p><%= @costume.description %></p></div>
	  		</div>
	  		<div class="d-flex">
	  			<div class="name"><p>Costume name</div>
	  			<div class="value"><p><%= @costume.name %></p></div>
	  		</div>
	  		<div class="d-flex">
	  			<div class="name"><p>Size</div>
	  			<div class="value"><p><%= @costume.category %></p></div>
	  		</div>
	  		<div class="d-flex">
	  			<div class="name"><p>Retal Price</div>
	  			<div class="value"><p><%= @costume.price %></p></div>
	  		</div>
	  	</div>
	  	<div class="rental-date" >
				<%= simple_form_for [@costume, @booking], class: "form-inline" do |f| %>
	      		<%= f.input :check_in, as: :string, required: false, input_html: {class: "datepicker"} %>
	        	<%= f.input :check_out, as: :string, required: false, input_html: {class: "datepicker"} %>
	        	<%= f.button :submit, "Book Costume", class: "btn simple-square" %>
	      <% end %>
      </div>

			</div>
	  </div>
	</div>
</div>>
