
<div class="container">
  <div class="w-100">
    <h2 class="costume-title"><%= @costume.name %></h2>
  </div>
  <div class="costume-container">
    <div class="img-costume">
      <%= cl_image_tag(@costume.photo.key, width: 400, height: 600, crop: :fill) %>
    </div>

    <div class="text-desc">
      <p class="costume-indication">Costume name: <%= @costume.name %></br>
        Size: <%= @costume.size %></br>
        Category: <%= @costume.category %></br>
        Rental price: <%= @costume.price %></br>
        Description: <%= @costume.description %></br></p>

        <p class="costume-indication">Owner contact: <%= @costume.user.first_name %>
          <%= @costume.user.last_name %></br>
          <br>
          <% if @costume.user == current_user %>
          <%= link_to "Back to Account-Page", user_path(current_user, option: "costumes"), class: "btn-action"%>
          <% else %>
          <%= link_to "Request to rent", new_costume_booking_path(@costume),class: "btn-action" %>
          <% end %>
        </p>
      </div>

    </div>


    <div class="links-show">
        <%= link_to "Back to category", "#", class: "btn-back" %>
    </div>
  </div>
