<div class="d-flex">

  <div class="container sidebar">
    <div class="d-flex w-100 justify-content-between">
      <h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
    </div>

    <p><%= @user.address %> <p>
    <p><%= @user.email %></p>

    <br>
    <br>
    <br>

    <p><%= link_to "My Bookings", user_path(current_user, option: "bookings") %></p>
    <p><%= link_to "My Costumes", user_path(current_user, option: "costumes") %> </p>
    <p><%= link_to "Add New Costume", new_costume_path %></p>

    <br>
    <br>
    <br>

    <p><%= link_to "Edit profile", edit_user_registration_path %></p>

  </div>

  <div class="container cards-container">
    <% if @option == "bookings" %>
      <div>
        <h1>My Bookings - Renting</h1>
        <div class="bookings m-4 p-4">
          <% @user.bookings.each do |booking| %>
            <%= link_to booking_path(booking) do %>
                <div class="booking-card d-flex border  justify-content-between m-3 p-3">
                  <div>
                    <h3> <%= booking.costume.name  %></h3>
                    <p> <%= "From: #{booking.costume.user.first_name} #{booking.costume.user.first_name}"  %></p>
                  </div>
                  <div class="booking-info-box">
                    <h4><%= " #{booking.check_in}  .........  #{booking.check_out}" %></h4>
                  </div>
                  <div class="booking-info-box">
                    <h3><%= booking.costume.price %> EUR</h3>
                  </div>
                  <% if booking.confirmation %>
                    <div class="booking-status confirmed"><h5>Confirmed</h5></div>
                  <% else %>
                    <div class="booking-status waiting"><h5>Pending</h5></div>
                  <% end %>
                </div>
                <% end %>
            <% end %>
           </div>
        </div>

        <div>
        <h1>My Bookings - Rent Out</h1>
        <div class="bookings m-4 p-4">
          <% @user.bookings_as_owner.each do |booking| %>
            <%= link_to booking_path(booking) do %>
                <div class="booking-card d-flex border  justify-content-between m-3 p-3">
                  <div>
                    <h3> <%= booking.costume.name  %></h3>
                    <p> <%= "To: #{booking.user.first_name} #{booking.user.first_name}"  %></p>
                  </div>
                  <div class="booking-info-box">
                    <h4><%= " #{booking.check_in}  .........  #{booking.check_out}" %></h4>
                  </div>
                  <div class="booking-info-box">
                    <h3><%= booking.costume.price %> EUR</h3>
                  </div>
                  <% if booking.confirmation %>
                    <div class="booking-status confirmed"><h5>Confirmed</h5></div>
                  <% else %>
                    <%= link_to user_path(current_user, confirm_booking: booking) do %>
                      <div class="booking-status confirm"><h5>Confirm</h5></div>
                    <% end %>
                  <% end %>
                </div>
                <% end %>
            <% end %>
           </div>
        </div>
      <% end %>

       <% if @option == "costumes" %>
      <div>
        <h1>My Costumes</h1>
        <div class="bookings m-4 p-4">
          <% @user.costumes.each do |costume| %>
            <%= link_to costume_path(costume) do %>
                <div class="booking-card d-flex border  justify-content-between m-3 p-3">
                  <%= cl_image_tag costume.photo.key %>
                  <div>
                    <h3> <%= costume.name  %></h3>
                  </div>
                  <div class="booking-info-box">
                    <h4><%= "#{costume.size}" %></h4>
                  </div>
                  <div class="booking-info-box">
                    <h3><%= costume.price %> EUR</h3>
                  </div>
                </div>
                <% end %>
            <% end %>
           </div>
        </div>
        <% end %>
    </div>
  </div>
</div>
